## Importing the needed libraries

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score
import pickle
import re

## Loading the dataset

In [3]:
real = pd.read_csv("Dataset/train/True.csv")
fake = pd.read_csv("Dataset/train/Fake.csv")

real["label"] = 0
fake["label"] = 1

df = pd.concat([real, fake], ignore_index=True)
df = df.sample(frac=1).reset_index(drop=True)

## viewing the dataset

In [3]:
df['label'].value_counts()

label
1    23481
0    21417
Name: count, dtype: int64

In [17]:
df.head()

,title,text,subject,date,label
0,Top First Amendment Lawyer Makes MIND-BLOWING...,top first amendment lawyer makes mind blowing...,News,"November 11, 2016",1
1,MCCONNELL PUSHES BACK ON MEDIA: I Understand ‘...,mcconnell pushes back on media i understand ...,politics,"Dec 20, 2017",1
2,SEAN HANNITY TAKES OFF THE GLOVES After “Hilla...,sean hannity takes off the gloves after hilla...,politics,"Oct 6, 2016",1
3,"Fed Up With Congress, Trump Just Put A Big Na...",fed up with congress trump just put a big na...,News,"August 31, 2017",1
4,Schumer: Comey should still testify to congres...,schumer comey should still testify to congres...,politicsNews,"May 18, 2017",0

## preprocessing

In [5]:
def clean_text(text):
    text = re.sub(r'\W', ' ', str(text))
    text = text.lower()
    return text

df['text'] = df['title'] + " " + df['text']
df['text'] = df['text'].apply(clean_text)

X = df['text']
y = df['label']

## vectorizing

In [7]:
vectorizer = TfidfVectorizer(max_features=5000)
X_vectorized = vectorizer.fit_transform(X)

## train/test Split

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X_vectorized, y, test_size=0.2, random_state=42)

## training the model

In [ ]:
model = LogisticRegression()
model.fit(X_train, y_train)

## Evaluating To See the Accuracy Level

In [8]:
y_pred = model.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))

NameError: name 'model' is not defined

In [ ]:
## Save the model

In [10]:
pickle.dump(model, open("model.pkl", "wb"))
pickle.dump(vectorizer, open("vectorizer.pkl", "wb"))